shelly i3 subflow.txt
[{"id":"55f21827.b24bf8","type":"subflow","name":"Shelly i3","info":"","category":"","in":[{"x":80,"y":160,"wires":[{"id":"b66d4e77.67881"}]}],"out":[{"x":560,"y":100,"wires":[{"id":"b3c3ba14.7f5a08","port":0}]},{"x":560,"y":140,"wires":[{"id":"b3c3ba14.7f5a08","port":1}]},{"x":560,"y":180,"wires":[{"id":"3a27415d.62f36e","port":0}]},{"x":560,"y":220,"wires":[{"id":"3a27415d.62f36e","port":1}]},{"x":560,"y":260,"wires":[{"id":"e9f4c511.dbc568","port":0}]},{"x":560,"y":300,"wires":[{"id":"e9f4c511.dbc568","port":1}]},{"x":560,"y":480,"wires":[{"id":"f4ae4561.1fef88","port":0}]},{"x":560,"y":520,"wires":[{"id":"f4ae4561.1fef88","port":1}]},{"x":560,"y":560,"wires":[{"id":"f4ae4561.1fef88","port":2}]},{"x":560,"y":600,"wires":[{"id":"f4ae4561.1fef88","port":3}]},{"x":560,"y":640,"wires":[{"id":"f4ae4561.1fef88","port":4}]},{"x":560,"y":680,"wires":[{"id":"f4ae4561.1fef88","port":5}]},{"x":560,"y":720,"wires":[{"id":"817a4882.9ab198","port":0}]},{"x":560,"y":760,"wires":[{"id":"817a4882.9ab198","port":1}]},{"x":560,"y":800,"wires":[{"id":"817a4882.9ab198","port":2}]},{"x":560,"y":840,"wires":[{"id":"817a4882.9ab198","port":3}]},{"x":560,"y":880,"wires":[{"id":"817a4882.9ab198","port":4}]},{"x":560,"y":920,"wires":[{"id":"817a4882.9ab198","port":5}]},{"x":560,"y":960,"wires":[{"id":"1e571212.c53e7e","port":0}]},{"x":560,"y":1000,"wires":[{"id":"1e571212.c53e7e","port":1}]},{"x":560,"y":1040,"wires":[{"id":"1e571212.c53e7e","port":2}]},{"x":560,"y":1080,"wires":[{"id":"1e571212.c53e7e","port":3}]},{"x":560,"y":1120,"wires":[{"id":"1e571212.c53e7e","port":4}]},{"x":560,"y":1160,"wires":[{"id":"1e571212.c53e7e","port":5}]}],"inputLabels":["From MQTT"],"outputLabels":["Input 0 On","Input 0 Off","Input 1 On","Input 1 Off","Input 2 On","Input 2 Off","Button 0 Single","Button 0 Double","Button 0 Triple","Button 0 Long","Button 0 Short + Long","Button 0 Long + Short","Button 1 Single","Button 1 Double","Button 1 Triple","Button 1 Long","Button 1 Short + Long","Button 1 Long + Short","Button 2 Single","Button 2 Double","Button 2 Triple","Button 2 Long","Button 2 Short + Long","Button 2 Long + Short"]},{"id":"b66d4e77.67881","type":"switch","z":"55f21827.b24bf8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"/input/0","vt":"str"},{"t":"cont","v":"/input/1","vt":"str"},{"t":"cont","v":"/input/2","vt":"str"},{"t":"cont","v":"/input_event/0","vt":"str"},{"t":"cont","v":"/input_event/1","vt":"str"},{"t":"cont","v":"/input_event/2","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":270,"y":160,"wires":[["b3c3ba14.7f5a08"],["3a27415d.62f36e"],["e9f4c511.dbc568"],["841ca007.30a0b"],["815b291b.59bda8"],["97dc9b30.641868"]]},{"id":"b3c3ba14.7f5a08","type":"switch","z":"55f21827.b24bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":120,"wires":[[],[]]},{"id":"3a27415d.62f36e","type":"switch","z":"55f21827.b24bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":200,"wires":[[],[]]},{"id":"e9f4c511.dbc568","type":"switch","z":"55f21827.b24bf8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":280,"wires":[[],[]]},{"id":"f4ae4561.1fef88","type":"switch","z":"55f21827.b24bf8","name":"","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"S","vt":"str"},{"t":"eq","v":"SS","vt":"str"},{"t":"eq","v":"SSS","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"SL","vt":"str"},{"t":"eq","v":"LS","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":390,"y":560,"wires":[[],[],[],[],[],[]]},{"id":"841ca007.30a0b","type":"json","z":"55f21827.b24bf8","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":560,"wires":[["f4ae4561.1fef88"]]},{"id":"815b291b.59bda8","type":"json","z":"55f21827.b24bf8","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":780,"wires":[["817a4882.9ab198"]]},{"id":"817a4882.9ab198","type":"switch","z":"55f21827.b24bf8","name":"","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"S","vt":"str"},{"t":"eq","v":"SS","vt":"str"},{"t":"eq","v":"SSS","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"SL","vt":"str"},{"t":"eq","v":"LS","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":390,"y":780,"wires":[[],[],[],[],[],[]]},{"id":"97dc9b30.641868","type":"json","z":"55f21827.b24bf8","name":"","property":"payload","action":"obj","pretty":false,"x":230,"y":1020,"wires":[["1e571212.c53e7e"]]},{"id":"1e571212.c53e7e","type":"switch","z":"55f21827.b24bf8","name":"","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"S","vt":"str"},{"t":"eq","v":"SS","vt":"str"},{"t":"eq","v":"SSS","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"SL","vt":"str"},{"t":"eq","v":"LS","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":390,"y":1020,"wires":[[],[],[],[],[],[]]},{"id":"e12c43e4.a3dc","type":"comment","z":"55f21827.b24bf8","name":"Disable MQTT Updates","info":"The Shelly i3 sends out updates every 30 seconds, the issues is there is nothing in the mqtt packet to say it’s an update is it simply resends the as set of input and input_event packets. This means if you trigger a shot press on button 0 it will resend that packet every 30 seconds and node-red can’t tell the difference.\n\nTo over come this you need to disable the updates, this can be done via the http rest api.\nhttp://--IP--/settings?mqtt_update_period=0, replace –IP—with the ip address of your shelly device and it will disable mqtt updates.\n","x":140,"y":40,"wires":[]},{"id":"e342c1f.2006f4","type":"comment","z":"55f21827.b24bf8","name":"Input commands","info":"When the button is press it will send either 1 for on or 0 for off.\n","x":540,"y":60,"wires":[]},{"id":"cd99340a.ec0b58","type":"comment","z":"55f21827.b24bf8","name":"Input Events","info":"When the button is release you will receive one of the following events\nS   Single Press\nSS  Double Press\nSSS Triple Press\nL   Long Press\nSL  Shot Press + Long Press\nLS  Long Press + Short Press\n","x":410,"y":440,"wires":[]},{"id":"b8f299f7.cce578","type":"comment","z":"55f21827.b24bf8","name":"Button 0 Input On","info":"","x":680,"y":100,"wires":[]},{"id":"ecdfaba9.a41b08","type":"comment","z":"55f21827.b24bf8","name":"Button 0 Input Off","info":"","x":680,"y":140,"wires":[]},{"id":"b3d182b0.91d1f","type":"comment","z":"55f21827.b24bf8","name":"Button 1 Input On","info":"","x":680,"y":180,"wires":[]},{"id":"602d446d.51c23c","type":"comment","z":"55f21827.b24bf8","name":"Button 1 Input Off","info":"","x":680,"y":220,"wires":[]},{"id":"60976f67.76e94","type":"comment","z":"55f21827.b24bf8","name":"Button 2 Input On","info":"","x":680,"y":260,"wires":[]},{"id":"77c1a2ef.7f519c","type":"comment","z":"55f21827.b24bf8","name":"Button 2 Input Off","info":"","x":680,"y":300,"wires":[]},{"id":"7d93ea85.506d24","type":"comment","z":"55f21827.b24bf8","name":"Button 0 Single Press","info":"","x":700,"y":480,"wires":[]},{"id":"3b8e1736.f106b8","type":"comment","z":"55f21827.b24bf8","name":"Button 0 Double Press","info":"","x":700,"y":520,"wires":[]},{"id":"409bba0d.cc2db4","type":"comment","z":"55f21827.b24bf8","name":"Button 0 Triple Press","info":"","x":690,"y":560,"wires":[]},{"id":"db182140.404ba","type":"comment","z":"55f21827.b24bf8","name":"Button 0 Long Press","info":"","x":690,"y":600,"wires":[]},{"id":"3adb6943.76a486","type":"comment","z":"55f21827.b24bf8","name":"Button 0 Short Press + Long Press","info":"","x":740,"y":640,"wires":[]},{"id":"7ab85e00.6974b4","type":"comment","z":"55f21827.b24bf8","name":"Button 0 Long Press + Short Press","info":"","x":740,"y":680,"wires":[]},{"id":"41d24204.300cfc","type":"comment","z":"55f21827.b24bf8","name":"Button 1 Single Press","info":"","x":700,"y":720,"wires":[]},{"id":"cd921740.a8dc48","type":"comment","z":"55f21827.b24bf8","name":"Button 1 Double Press","info":"","x":700,"y":760,"wires":[]},{"id":"17b55d38.d2e763","type":"comment","z":"55f21827.b24bf8","name":"Button 1 Triple Press","info":"","x":690,"y":800,"wires":[]},{"id":"2dcc6df0.a8c8a2","type":"comment","z":"55f21827.b24bf8","name":"Button 1 Long Press","info":"","x":690,"y":840,"wires":[]},{"id":"9c8e5f4e.5256e","type":"comment","z":"55f21827.b24bf8","name":"Button 1 Short Press + Long Press","info":"","x":740,"y":880,"wires":[]},{"id":"c45490ea.69a1","type":"comment","z":"55f21827.b24bf8","name":"Button 1 Long Press + Short Press","info":"","x":740,"y":920,"wires":[]},{"id":"e948c763.3b0068","type":"comment","z":"55f21827.b24bf8","name":"Button 2 Single Press","info":"","x":700,"y":960,"wires":[]},{"id":"41b188da.19e238","type":"comment","z":"55f21827.b24bf8","name":"Button 2 Double Press","info":"","x":700,"y":1000,"wires":[]},{"id":"a3b87216.df1b1","type":"comment","z":"55f21827.b24bf8","name":"Button 2 Triple Press","info":"","x":690,"y":1040,"wires":[]},{"id":"5ed35d7a.56d9d4","type":"comment","z":"55f21827.b24bf8","name":"Button 2 Long Press","info":"","x":690,"y":1080,"wires":[]},{"id":"c421b672.d1adb8","type":"comment","z":"55f21827.b24bf8","name":"Button 2 Short Press + Long Press","info":"","x":740,"y":1120,"wires":[]},{"id":"21ff7176.f9aeee","type":"comment","z":"55f21827.b24bf8","name":"Button 2 Long Press + Short Press","info":"","x":740,"y":1160,"wires":[]}]