Shelly Button1 Subflow.txt
[{"id":"910b2ff6.be749","type":"subflow","name":"Shelly Button1","info":"","category":"","in":[{"x":120,"y":120,"wires":[{"id":"387030e0.73b74"}]}],"out":[{"x":980,"y":40,"wires":[{"id":"4ce42fa1.1d419","port":0}]},{"x":980,"y":80,"wires":[{"id":"4ce42fa1.1d419","port":1}]},{"x":980,"y":120,"wires":[{"id":"4ce42fa1.1d419","port":2}]},{"x":980,"y":160,"wires":[{"id":"4ce42fa1.1d419","port":3}]},{"x":660,"y":180,"wires":[{"id":"9025c5de.a0dfa8","port":1}]}],"outputLabels":["SinglePress","Double Press","Triple Press","Long Press","Battery"]},{"id":"387030e0.73b74","type":"function","z":"910b2ff6.be749","name":"","func":"msg.type = \"button\";\nif (msg.topic.indexOf('/sensor/battery') > 0)\n{\n    msg.type = \"battery\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":120,"wires":[["9025c5de.a0dfa8"]]},{"id":"9025c5de.a0dfa8","type":"switch","z":"910b2ff6.be749","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"button","vt":"str"},{"t":"eq","v":"battery","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":120,"wires":[["26ffb0ec.6aec6"],[]]},{"id":"26ffb0ec.6aec6","type":"json","z":"910b2ff6.be749","name":"","property":"payload","action":"","pretty":false,"x":690,"y":100,"wires":[["4ce42fa1.1d419"]]},{"id":"4ce42fa1.1d419","type":"switch","z":"910b2ff6.be749","name":"","property":"payload.event","propertyType":"msg","rules":[{"t":"eq","v":"S","vt":"str"},{"t":"eq","v":"SS","vt":"str"},{"t":"eq","v":"SSS","vt":"str"},{"t":"eq","v":"L","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":850,"y":100,"wires":[[],[],[],[]]},{"id":"e179ba6b.4d8c78","type":"comment","z":"910b2ff6.be749","name":"Input Event or Battery","info":"","x":380,"y":80,"wires":[]},{"id":"e8b0d0ce.6b613","type":"comment","z":"910b2ff6.be749","name":"Input to JSON","info":"{ event: \"S\", event_cnt: 6 }","x":690,"y":60,"wires":[]},{"id":"bf0ce205.ca148","type":"comment","z":"910b2ff6.be749","name":"Report Single Button Press","info":"","x":1130,"y":40,"wires":[]},{"id":"f3956e5e.cb60b","type":"comment","z":"910b2ff6.be749","name":"Report Double Button Press","info":"","x":1140,"y":80,"wires":[]},{"id":"7f305ddf.4894e4","type":"comment","z":"910b2ff6.be749","name":"Report Triple Button Press","info":"","x":1130,"y":120,"wires":[]},{"id":"cff11486.d8d178","type":"comment","z":"910b2ff6.be749","name":"Report Long Button Press","info":"","x":1130,"y":160,"wires":[]},{"id":"e9dc72b2.50eb","type":"comment","z":"910b2ff6.be749","name":"Report Battery Value","info":"","x":790,"y":180,"wires":[]},{"id":"5414dc5f.805b34","type":"comment","z":"910b2ff6.be749","name":"Full MQTT Packet","info":"Topic should be \nshellies/shellybutton1-<MAC Address>/#\neg\nshellies/shellybutton1-A4CF12F450B1/#","x":130,"y":80,"wires":[]}]